{% extends "sil11VitrineBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Commande enregistrée{% endblock %}

{% block content %}
    <section>
        <p>Votre commande a bien été enregistrée sous le numéro n° {{ orderId }}</p>
        <p>Pour toute correspondance, rappelez-nous du lundi au vendredi de 8h00 à 17h00 au 06 14 11 01 22.</p>
    </section>
{% endblock %}
