{% extends "sil11VitrineBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Mentions{% endblock %}

{% block content %}
<h4>Objet</h4>
    <p>Le présent document détermine les conditions d’utilisation du site Internet www.amrc.com propriété de la société AMRC.
    Toute utilisation du site entraîne l’acceptation de ces informations légales.
    </p>
    <h4>Déclaration</h4>

    <p>Conformément à la loi, ce site a fait l’objet d’une déclaration auprès de la CNIL
    Identification de l’éditeur du site

        Le site Internet www.flashrc.com est édité par la société AMRC :</p>
<ul  class="mentions-list">
    <li>siège social : AMRC, 15 Rue de l'invention - 38000 GRENOBLE - France</li>
    <li>RCS : 000000000 - Grenoble</li>
    <li>N° TVA intracom: FR000000000</li>
    <li>  site web: www.amrc.com</li>
     <li>  email: info@amrc.com</li>
    <li>Hébergement : OVH</li>

</ul>
    <h4>Recueil d’information</h4>
    <p>En vertu de la Loi Informatique et Libertés du 6 janvier 1978, AMRC s’engage à ne pas communiquer à des tiers les données personnelles du client qui ne sont recueillies que pour la bonne gestion des commandes, des livraisons et des factures.<br />

        Le client dispose à tout moment d’un droit d’accès, de modification, de rectification et de suppression des informations le concernant. Pour exercer ce droit, il lui suffit :</p>
<ul class="mentions-list">
    <li>soit d’envoyer un courrier électronique à l’adresse support@amrc.com,</li>
    <li>soit d’envoyer un courrier à l’adresse du siège social,</li>
</ul>
    <h4>Droits de propriété</h4>
    <p>Tous les éléments du site Internet sont la propriété de la société AMRC, à l’exclusion des éléments de partenaires. En conséquence AMRC se réserve le droit de modifier les informations du site à tout moment et sans préavis.</p>

    <h4>Marques</h4>
    <p>Les marques et logos figurant sur le site sont des marques de tiers et ne doivent pas être utilisés à des fins publicitaires sans le consentement écrit du propriétaire de la marque.</p>
    <h4>Liens vers des sites Web de tiers</h4>
    <p>Les liens vers d'autres sites sont fournis exclusivement pour des raisons de commodité. En utilisant ces liens, vous quittez le site de AMRC. N'étant pas responsable du contenu de ces sites tiers, AMRC décline toutes les conséquences de leur utilisation. L'accès à ces sites est sous l'entière responsabilité de l'utilisateur.</p>
    <h4> Responsabilité</h4>
   <p>AMRC se désengage de toute utilisation licite ou illicite des données fournies par le site.</p>
{% endblock %}



