{% extends "sil11VitrineBundle::adminLayout.html.twig" %}
{% block title %}{{ parent() }} - Admin{% endblock %}
{% block content %}
    <p>Cet espace admin vous permet de gérer vos catégories de produit, vos produits et les commandes client.</p>
    <p id="admin-decor"><img src="{{ asset('bundles/sil11vitrine/images/roues.png') }}"/></p>
{% endblock %}